@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    font-weight: 100;
    font-size: 18px;
    color: hsl(215,51%,70%);
}

$bodycolor1: #0D192B 47.92%;
$bodycolor2: #14253D 100%;
$maincolor: #14253D;
$hovercolor: #00FFF6;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, $bodycolor1, $bodycolor2);
}

main {
    max-width: 387px;
    max-height: 666px;
    background-color: $maincolor;
    border-radius: 18px;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.400);
    padding: 28px;

    h3 {
        margin-top: 15px;
    }

    p {
        margin-top: 10px;
    }

    div {
        display: flex;
        background: black url(../images/image-equilibrium.jpg) center center no-repeat;
        background-size: cover;
        cursor: pointer;
        width: 332px;
        height: 332px;
        border-radius: 10px;
        justify-content: center;
        align-items: center;

        span {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

            img {
                display: none;
                width: 50px;
                height: 50px;
            }
        }

        span:hover {
            background-color: #00fff781;
            
            img {
                display: block;
            }
        }
    }

    a.phover {
        color: white;
        font-size: 20px;
        font-weight: 600;
    }

    article {
        display: flex;
        justify-content: space-between;
        text-align: center;

        img {
            width: 14.118px;
            height: 14.903px;
        }

        img#clock {
            width: 14.118px;
            height: 14.903px;
        }

        p#th {
            color: $hovercolor;
        }
    }

    span {
        display: flex;
        margin-top: 3px;
        justify-content: flex-start;
        align-items: center;

        p {
            margin: 0;
            margin-left: 15px;
        }
    }

    strong.phover {
        color: white;
        font-weight: 600;
    }

    img#avatar {
        border-radius: 50%;
        width: 47px;
        height: 46px;
        border: 1px solid #FFF;
    }
    
    a {
        align-items: center;
        text-align: center;
        text-decoration: none;
    }

    .phover:hover {
        color: $hovercolor;
    }
}